<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="">


        En:<input type="number" ng-model="en" >
        Boy:<input type="number" ng-model="boy" >
        Alan:{{en * boy}}


    <hr>

    En:<input type="number" ng-model="en1" >
    Boy:<input type="number" ng-model="boy1" >
    Alan:<span ng-bind="en1 * boy1"></span>


</div>


</body>
</html>